.field {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid lime;
    height: 100%;
}

.field th {
    padding: .5em;
}

.field td {
    border: 1px solid black;
    width: 2em;
    height: 2em;
}
.field .light {
    background: #eee;
}
.field .dark {
    background: #000;
}
